body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.todo-container {
  width: 300px;
  margin: 100px auto;
  background: rgba(119, 6, 100);
  padding: 20px;
  text-align: center;
  border-radius: 2px rgba(201, 7, 110);
}

input {
  width: 80%;
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

li {
  list-style: none;
  margin-top: 10px;
  background: #eee;
  padding: 5px;
  border-radius: 4px;
}
