body {
  font-family: Arial, sans-serif;
  background: #1687a3;
}

.todo-container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 80%;
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
}

li {
  list-style: none;
  margin-top: 10px;
  background: #eee;
  padding: 5px;
  border-radius: 4px;
}

h2 {
  color: rgb(100, 169, 215);
}
